* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-image {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('assets/su-san-lee-E_eWwM29wfU-unsplash\(2\).jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(40%)
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes fadeIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.item-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 60vh;
    margin-top: 6vh;
    color: #fff;
}
.main-text {
    font-size: 4rem;
    animation: fadeIn 1.5s;
    letter-spacing: -3px;
    width: 30vw;
}
.main-text2 {
    margin-top: 70px;
    letter-spacing: -1px;
    font-size: 1.8rem;
    animation: fadeIn 1.2s 1s both;
}
.projects-button {
    margin-top: 30px;
    height: 25px;
    width: 10vw;
}
.nav-container{
    position: fixed;
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.nav-bar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 35vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.1rem;
    margin: 20px;
    color: #fff;
}

.nav-bar li:hover {
    border-bottom: #333 solid 1px;
    cursor: pointer;
}
.logo-container {
    width: 55vw;
    margin-right: 20px;
}
.logo {
    width: 45px;
    height: 45px;
    margin-top: 4.5px;
    background-image: url(assets/noun-japan-5090284.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo:hover {
    cursor: pointer;
}
.about-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #333;
}
.about-section {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: auto;
    color: white;
    font-size: .8rem;
    column-gap: 50px;
    row-gap: 20px;
    color: #c7c7c7;;
}
.item-1 {
    color: white;
    font-style: italic;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
}
.item-2 {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 1.2rem;
}
.item-3 {
    color: white;
    font-style: italic;
    font-size: 2rem;
    grid-row: 1/2;
    grid-column: 2/3;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
}
.item-4 {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.2rem;
}
.item-5 {
    color: white;
    font-style: italic;
    font-size: 2rem;
    grid-row: 1/2;
    grid-column: 3/4;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
}
.item-6 {
    grid-row: 2/3;
    grid-column: 3/4;
    font-size: 1.2rem;
}
.project-section{
    z-index: -1;
    height: 100vh;
    background: #f2f2f2;
}

.project-text {
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: #f2f2f2;
}
.projects > * {
    border: solid black 3px;
    border-radius: 10px;
    min-width: 25vw;
    max-height: 25vh;
}
.projects {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.image-1{
    content:url(../src/assets/calc.png);
}
.image-2 {
    content:url(../src/assets/library.png);
}
.image-3 {
    content:url(../src/assets/sketch.png);
}
.image-4 {
    content:url(../src/assets/tic.png);
}
.image-5 {
    content:url(../src/assets/memory.png);
}

@media only screen and (max-width: 850px) {
    .main-text {
        font-size: 2.5rem;
    }
    .main-text2 {
        font-size: 1.4rem;
    }
    .nav-bar {
        font-size: 1rem;
        gap: 3vw;
        margin-right: 10vw;
    }
    .logo {
        margin-left: 10px;
    }
    .about-section {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-right: 100px;
    }
    .bg-image {
        background-position: right;
    }
}


